.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navBar {
  color: white;
  background-color: rgb(248, 200, 200);
  padding: 11px;
  display: block;
}

.feedbackForm {
  outline: 3px solid rgb(53, 17, 17);
  padding: 15px;
  width: 50%;
  text-align: center;
}